In [1]:
import datetime as dt
import pandas as pd
import sqlite3

conexion = sqlite3.connect("./piezas.db")
cursor = conexion.cursor()

In [5]:
def consulta_elemento(tabla, nombre):
    query = f"""
        SELECT *
        FROM {tabla}
        WHERE Nombre LIKE '%{nombre}%'
        """

    ID = pd.read_sql(query, conexion).ID

    if len(ID) == 0:
        return 'No se encontró ID.'
    return ID

def consulta_id(tabla, ID:list):
    query = f"""
        SELECT *
        FROM {tabla}
        WHERE ID = '{ID}'
        """

    return pd.read_sql(query, conexion)['Nombre'][0]

In [22]:
hoy = dt.datetime.now()

for tabla in ['Proveedores','Pieza']:
    algo = 'proveedor' if tabla == 'Proveedores' else 'pieza'

    elemento = input(f'Inserte {algo}:').capitalize()
    resultados = consulta_elemento(tabla, elemento)

    if type(resultados) == str:
        print(resultados)
    else:
        if len(resultados) > 1:
            for index, resultado in enumerate(resultados):
                print(index, consulta_id(tabla, resultado))

            ID = input(f'Seleccione {algo}:')
            while ID.isnumeric() != True or int(ID) > len(resultados)-1 or int(len(resultados)-1) <0:
                ID = input(f'Inserte un número entre 0-{len(resultados)-1}:')
        else:
            print(consulta_id(tabla, resultados[0]))
            ID = resultados[0]
    if algo == 'proveedor':
        ID_proveedor = ID
    else:
        ID_pieza = ID

cantidad = input(f'Indique cantidad de piezas:')
while cantidad.isnumeric() != True or int(cantidad) <= 0:
    cantidad = input(f'Inserte una cantidad:')
print(cantidad)

0 Herramientas y Tornillos S.L.
1 Tornillones SA
Tornillo hexagonal
19

In [17]:
ID_proveedor

6

In [ ]:
tabla_suministros = '''
CREATE TABLE Suministros (
FECHA    DATE PRIMARY KEY, 
ID_PROVEEDOR    INT,
ID_PIEZA    INT,
CANTIDAD    INT     
)
'''
cursor.execute(tabla_suministros)

In [4]:
query = "SELECT * FROM sqlite_master WHERE type == 'table'"
cursor.execute(query)
cursor.fetchall()

[('table',
  'Pieza',
  'Pieza',
  2,
  'CREATE TABLE Pieza (\n            ID INTEGER PRIMARY KEY AUTOINCREMENT,\n            Nombre TEXT NOT NULL,\n            Color TEXT,\n            Precio REAL,\n            ID_Categoria INTEGER\n        )'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table',
  'Categoria',
  'Categoria',
  4,
  'CREATE TABLE Categoria (\n            ID INTEGER PRIMARY KEY AUTOINCREMENT,\n            Nombre TEXT NOT NULL UNIQUE\n        )'),
 ('table',
  'Proveedores',
  'Proveedores',
  6,
  'CREATE TABLE Proveedores (\n            ID INTEGER PRIMARY KEY AUTOINCREMENT,\n            Nombre TEXT NOT NULL,\n            Direccion TEXT,\n            Ciudad TEXT,\n            Provincia TEXT,\n            Codigo TEXT UNIQUE,\n            Fecha_Registro DATE DEFAULT CURRENT_DATE\n        )'),
 ('table',
  'Suministros',
  'Suministros',
  8,
  'CREATE TABLE Suministros (\nFECHA    DATE PRIMARY KEY, \nID_PROVEEDOR    INT,\nID_PIEZA    INT,\nCANTIDAD    INT     \n)')]

In [26]:
def insertar_datos(fecha, ID_proveedor = ID_proveedor, ID_pieza = ID_pieza, cantidad = cantidad):
    query = f"INSERT INTO Suministros (FECHA, ID_PROVEEDOR, ID_PIEZA, CANTIDAD) VALUES ({fecha}, {ID_proveedor}, {ID_pieza}, {cantidad})"
    cursor.execute(query)
    conexion.commit()

    query = """SELECT * FROM Suministros"""
    df= pd.read_sql(query, conexion)

    return df

In [27]:
insertar_datos("23.04.2025")

OperationalError: near ".2025": syntax error

In [ ]:
query = f"INSERT INTO Suministros (FECHA, ID_PROVEEDOR, ID_PIEZA, CANTIDAD) VALUES ('23.04.2025', {ID_proveedor}, {ID_pieza}, {cantidad})"
cursor.execute(query)
conexion.commit()

In [20]:
query = """SELECT * FROM Suministros"""
df= pd.read_sql(query, conexion)

In [21]:
df

        FECHA  ID_PROVEEDOR  ID_PIEZA  CANTIDAD
0  23.04.2025             2         1        10